.label{
  font-weight: bold;
  color: blue;
}
.nilai_label{
  margin-left: 20px;
}
.keterangan-pembelian{
  background-color: yellow;
  padding: 10px;
}
.membayar{
  background: linear-gradient(to right, #00cc99 0%, #99ff33 100%);
  padding: 10px;
  height: 5em;
}
.biodata{
}
.bagian_tombol{
  padding: 10px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#8552cc), to(#c22966));
  background-color: linear-gradient(#8552cc,#c22966);
}
